.Container{
  display: flex;
  justify-content: space-around;
  /* margin-left: 10em; */
  /* margin-right: 35em; */
  margin-bottom: 5%;
}

.headline{
  font-size: calc(21px + 2.5vw);
  font-weight: bold;
  line-height: 1.1em;
  word-spacing: -0.02em;
  margin-bottom: 8px;
  display: inline-block;
}

p {
  display: inline-block;
  float: left;
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  /* white-space: nowrap; */
}

#modalContent{
  padding: 3em;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width : 415px) and (max-height : 830px){
  p {
    margin-right: 2em;
    margin-left: 2em;
  }
  .Container{
    margin-top: 10%;
  }
}

@-ms-viewport{
  width: device-width;
}

@media screen and (min-width: 416px) and (max-width: 1300px) and (max-height: 1400px){
  p {
    margin-right: 40%;
    margin-left: 10%;
  }
  .Container{
    margin-top: 5%;
  }
}
